<h1 class="text-center">
Oleander Honey Test App</h1>
<p class="text-center"> <%= link_to "Sign up here", "#", class: "btn btn-large" %></p>
<img src="http://static1.squarespace.com/static/531fc6a7e4b00a4fbb7b065f/t/532513efe4b08fd5fbc430ed/1394938864669/?format=300w" class="center-block">


